<h3>Your Cart</h3>

{% if error %}
<div class="alert alert-danger">{{ error.message }}</div>
{% endif %}

<div class="well">
  <ul class="list-group">
    {% for lineitem in lineitems %}
    <li class="list-group-item">
      <p>
        <span>{{ lineitem.product.name }}</span>
        <span class="label label-default pull-right">{{ lineitem.quantity }}</span>
      </p>
      <form action="/orders/{{ lineitem.id }}?_method=DELETE" method="POST">
        <button class="btn btn-sm btn-warning">Remove From Cart</button>
      </form>
    </li>
    {% endfor %}
  </ul>
  <hr>
  <form action="/orders/{{ lineitems[0].orderId }}?_method=PUT" method="POST">
    <p>
      <label>Address</label>
      <input name="address" value="{{ lineitems[0].orderId.address }}" type="text" class="form-control" />
    </p>
    <button class="btn btn-primary">Place Order</button>
  </form>
</div>
