<h3>Your Cart</h3>
<div class="well">
  <ul class="list-group">
    {% for lineitem in lineitems %}
    <li class="list-group-item">
      <p>
        <span>{{ lineitem.product.name }}</span>
        <span class="label label-default pull-right">{{ lineitem.quantity }}</span>
      </p>
      <form action="/" method="POST">
        <button class="btn btn-sm btn-warning">Remove From Cart</button>
      </form>
    </li>
    {% endfor %}
  </ul>
  <hr>
  <form action="/" method="POST">
    <p>
      <label>Address</label>
      <input type="text" class="form-control" />
    </p>
    <button class="btn btn-primary">Place Order</button>
  </form>
</div>
