{% extends "./layout.html" %}

{% block content %}
<section class="col-sm-8">
  <h3>Products</h3>
  <ul class="list-group">
    {% for product in products %}
    <li class="list-group-item">
      <form action="/orders" method="POST" class="form-group">
        <span>{{ product.name }}</span>
        <button class="btn btn-sm btn-primary pull-right">Add to Cart</button>
      </form>
    </li>
    {% endfor %}
  </ul>
</section>

<section class="col-sm-4">
  {% if lineitems.length %}
  <div>
    {% include "./_cart.html" %}
  </div>
  {% endif %}

  {% if orders.length %}
  <div>
    {% include "./_orders.html" %}
  </div>
  {% endif %}
</section>
{% endblock %}
